<launch>

    <!--  ************** Global Parameters ***************  -->
    <param name="/use_sim_time" value="true"/>

    <!--  ************** Stage Simulator ***************  -->
    <node pkg="stage_ros_add_pose_and_crash" type="stageros" name="stageros" args="-u /home/nscl/catkin_ws/src/rl-collision-avoidance/worlds/stage_turtlebot_test.world">
        <remap from="robot_0/base_scan1" to="scan"/>
    </node>

    <!--  ************** Map Server **************  -->
    <node name="map_server" pkg="map_server" type="map_server" args="/home/nscl/catkin_ws/src/rl-collision-avoidance/worlds/maze.yaml" output="screen">
        <param name="frame_id" value="/map"/>
    </node>

    <!--  ************** Localization **************  -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="/home/nscl/catkin_ws/src/rl-collision-avoidance/stage_ros-add_pose_and_crash/launch/params/amcl_params.yaml" command="load" />
        <param name="initial_pose_x"            value="2"/>
        <param name="initial_pose_y"            value="2"/>
        <param name="initial_pose_a"            value="0"/>
    </node>

    <!--  **************** Visualisation ****************  -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d /home/nscl/catkin_ws/src/rl-collision-avoidance/stage_ros-add_pose_and_crash/rviz/robot_navigation.rviz"/>
</launch>
